* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgb(239, 108, 0);
  font-size: 32px;
  font-weight: 450;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.nav-buttons button {
  padding: 8px 16px;
  border: none;
  background: white;
  color: #1976d2;
  border-radius: 6px;
  cursor: pointer;
}
