* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;

  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;

  text-decoration: none;
  font-size: 32px;
  font-weight: 450;
  color: rgb(239, 108, 0);
  cursor: pointer;
}

.nav-buttons {
  display: flex;
  gap: 10px;

  cursor: pointer;
}

.nav-buttons button {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background: white;
  color: rgb(239, 108, 0);
  border: 1.2px solid rgb(239, 108, 0, 0.7);
  border-radius: 6px;
  cursor: pointer;
}

.icon-button:hover {
  background-color: rgb(167, 75, 0, 0.05);
  border: 1.2px solid rgb(239, 108, 0);
}

.icon-button.active {
  background-color: rgb(239, 108, 0);
  fill: white;
}
